header{
    font-size: large;
    background-color: #f6f9ff;
    border: 3px solid #f6f9ff;
    border-radius: 20px;
    text-align: center;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d1dfff;
}

div{
    text-align: center;
    padding: 20px 20px 20px 20px;
    background-color: #f6f9ff;
    border: 3px solid #f6f9ff;
    border-radius: 20px;
}

.input_fld{
    width: 120px;
}

h3{
    margin-top: 0;
}

h5{
    color: red;
    margin: 10px 0 0 0;
}